<header class="site-wide-header" >
    <section class="logo-container">
        <p><img src="{{subRoutes}}assets/socials/google_logo.png" class="active" alt="company-logo"></p>
    </section>
    <section class="shoppingCart-container" >
        <p><img src="{{subRoutes}}assets/smalls/shopping-bag.svg" alt="shopping-cart-logo" ></p>
        {{#if stateCart}}
        <div class="desktop-bag-number">{{stateCart.meta.totalAmount}}</div>
        {{/if}}
    </section>
    <section class="mobile-hamburger-container" >
        <div class="hamburger" >
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    <section class="navigation-container" >
        <ul class="topmenu">
            <li><a class="top-link" href="/" >HOME</a></li>
            <li><a class="top-link" href="#company" >COMPANY</a></li>
            <li><a class="top-link" href="#" >SOMETHING</a></li>
            <li class="submenu-link"><span class="top-link" >SHOP</span>
                <ul class="submenu">
                    <li><a class="sub-link" href="/product/wheelCover" >WHEELCOVER</a></li>
                    <li><a class="sub-link" href="/product/sprayhood" >SPRAYHOOD GRAB BAR COVER</a></li>
                    <li><a class="sub-link" href="/product/custom" >CUSTOM</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="account-container">
        {{#if username}}
        <ul class="logged-in-account">
            <li class="submenu-account-container"><p><span class="account-name">{{username}}</span><span class="account-logo-parent"><img class="account-logo" src="{{subRoutes}}assets/smalls/user_success.png" alt="user-icon" ></span></p>
                <ul class="submenu-account">
                    <li><a href="/account/orders" >ORDERS</a></li>
                    <li><a href="/account/addresses" >ADDRESSES</a></li>
                    <li><a href="/account/settings" >SETTINGS</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </li>
        </ul>
        {{else}}
        <ul class="not-logged-in-account">
            <li><span><a href="/login" >Login</a></span><span><a href="/register" >Register</a></span><span><img class="account-logo-not-logged-in" src="{{subRoutes}}assets/smalls/user.png" id="user" alt="logo" ></span>
            </li>
        </ul>
        {{/if}}
    </section>
</header>
{{#section 'stylesheets'}}
<link rel="stylesheet" href="{{subRoutes}}css/myheader.css" >
<link rel="styleshee" href="{{subRoutes}}css/defaults.css" >
{{/section}}
{{#section 'script'}}
<script type="module" src="{{subRoutes}}js/myheader.js"></script>
{{/section}}
