<header class="site-wide-header" >
    <section class="logo-container">
        <a href="/" ><img src="{{subRoutes}}assets/socials/google_logo.png" alt="company-logo"></a>
    </section>
    <section class="shoppingCart-container" >
        <p><a href="/shoppingCart" ><img src="{{subRoutes}}assets/smalls/shopping-bag-ffecd.png" alt="shopping-cart-logo" ></a></p>
        {{#if stateCart}}
        <div class="shoppingCart-amount" ><p>{{stateCart.meta.totalAmount}}</p></div>
        {{/if}}
    </section>
    <section class="mobile-hamburger-container" >
        <div class="hamburger" >
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    <section class="navigation-container" >
        <ul class="topmenu">
            <li><a class="top-link" href="/" >HOME</a></li>
            <li><a class="top-link" href="#company" >COMPANY</a></li>
            <li><a class="top-link" href="#" >SOMETHING</a></li>
            <li class="submenu-link"><span class="top-link" >SHOP</span>
                <ul class="submenu">
                    <li><a class="sub-link" href="/product/wheelCover" >WHEELCOVER</a></li>
                    <li><a class="sub-link" href="/product/sprayhood" >SPRAYHOOD GRAB BAR COVER</a></li>
                    <li><a class="sub-link" href="/product/custom" >CUSTOM</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="account-container">
        {{#if username}}
        <ul class="logged-in-account">
            <li class="submenu-account-container"><p><span class="account-name">{{username}}</span><span class="account-logo-parent"><img class="account-logo" src="{{subRoutes}}assets/smalls/user_success.png" alt="user-icon" ></span></p>
                <ul id="specificity-account" class="submenu-account">
                    <li><a href="/account/orders" >ORDERS</a></li>
                    <li><a href="/account/addresses" >ADDRESSES</a></li>
                    <li><a href="/account/settings" >SETTINGS</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </li>
        </ul>
        {{else}}
        <ul class="not-logged-in-account">
            <li><span><a href="/login" >Login</a></span><span><a href="/register" >Register</a></span><span><img class="account-logo-not-logged-in" src="{{subRoutes}}assets/smalls/user.png" id="user" alt="logo" ></span>
            </li>
        </ul>
        {{/if}}
    </section>
</header>

{{#section 'stylesheets'}}
<link rel="stylesheet" href="{{subRoutes}}css/header.css" >
{{/section}}
{{#section 'script'}}
<script type="module" src="{{subRoutes}}js/header.js"></script>
{{/section}}
