<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>sakis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" >
        <link rel="stylesheet" href="{{subRoutes}}css/defaults.css" >
    </head>
    <body>
        {{> header}}
        {{{_sections.stylesheets}}}
        {{{_sections.script}}}
        <main>
            {{{body}}}
        </main>
        {{#if flashMessages}}
        {{> flashMessages}}
        {{{_sections.stylesheets}}}
        {{{_sections.script}}}
        {{/if}}
        {{> footer}}
        {{{_sections.stylesheets}}}
        {{{_sections.script}}}
    </body>
</html>

