<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>sakis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" >
        <link rel="stylesheet" href="{{subRoutes}}css/defaults.css" >
        <link rel="stylesheet" href="{{subRoutes}}css/products/product1.css" >
    </head>
    <body>
        {{> header}}
        <main>
            {{{body}}}
            {{{_sections.stylesheets}}}
            {{{_sections.script}}}
        </main>
        {{> flashMessages}}
    </body>
<script type="module" src="{{subRoutes}}js/product1.js"></script>
</html>
