<link rel="stylesheet" href="{{subRoutes}}css/home.css" >
<script type="text/javascript" src="{{subRoutes}}js/home.js"></script>
<div class="main-container">
<article class="content">
    <section id="carousel-section">
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <img src="{{subRoutes}}assets/home/boat-wheel2.jpg">
        </div>

        <div class="mySlides fade">
            <img src="{{subRoutes}}assets/home/captain-wheel.jpg">
        </div>

        <div class="mySlides fade">
            <img src="{{subRoutes}}assets/home/sun-wheel.jpg">
        </div>
        <div class="mySlides fade">
            <img src="{{subRoutes}}assets/home/boat-wheel.jpg" >
        </div>

        <!-- Next and previous buttons -->
        <div class="prev" id="car-prev">&#10094;</div>
        <div class="next" id="car-next">&#10095;</div>
    </div>
    </section>
</article>
<article id="twofield">
    <div class="textbox">
        <h2>ONOMA LOGO</h2>
        <p>polueti empeiria kataskeuis dermatinon kallimatwn se timonia skafwn</p>
    </div>
    <div class="textbox">
        <p>i omada logo exei tin apantisi sti pprosopiki sas epithimia me th gkama epilogwn kai xrwmatwn pou diatheti sta dermata tis</p>
    </div>
</article>
<article id="banner">
        <label id="bannertext">ALL OVER THE WORLD DELIVERY</label>
</article>
</br>
<article id="parallax-banner">
        <label id="parallax-bannertext">ALL OVER THE WORLD DELIVERY</label>
</article>
</br>
<article id="imageboxes">
    <div class="imagebox">
        <img class="imageboxphoto" src="{{subRoutes}}assets/home/boat-wheel3.jpeg">
        <label class="imageboxtext">CONSTRACTION</label>
        <a class="imageboxlink" href="#">See more</a>
    </div>
    <div class="imagebox">
        <img class="imageboxphoto" src="{{subRoutes}}assets/home/boat-wheel4.jpeg">
        <label class="imageboxtext">ORDER</label>
        <a class="imageboxlink" href="#">See more</a>
    </div>
    <div class="imagebox">
        <img class="imageboxphoto" src="{{subRoutes}}assets/home/maps.jpeg">
        <label class="imageboxtext">PLACEMENT</label>
        <a class="imageboxlink" href="#">See more</a>
    </div>
</article>
</div>

<section class="flash-messages-container">
<link rel="stylesheet" href="{{subRoutes}}css/flashmessages.css" >
    <aside class="popup-container flash100" >
      <p class="popup-logo" ><img src="/assets/smalls/user_success.png" alt="popup-logo"></p>
    <p class="popup-message" >Successfully logged in</p>
      <p class="popup-close"><div class="X-image-circle"><img src="/assets/smalls/close.svg" alt="close-window"></p></div>
    </aside>
    <aside class="popup-container flash200" >
        <section class="popup-message"> <p>Previous user left a shopping Cart!</p> <p>Should we add it to yours?</p></section>
        <section class="action">
            <span class="yes-action">Yes!</span>
            <span class="no-action">No!</span>
        </section>
    </aside>
    <script type="module" src="{{subRoutes}}js/flashmessages.js"></script>
</section>